
*{
margin: 0;
padding: 0;
}
.sign_input_box{
    border: 1px solid rgb(210, 208, 208);
    outline: none;
    width: auto;
  
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    border-radius: 5px;
}

.sign_input_box input{
    border: none;
    outline: none;
    width: 100%;
    background: none;
}
.sign-left-container{
    width: 50%;
}
 .sign-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding: 40px; */
    width: auto;
    padding: 20px;
 }

.sign-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 800px;
    box-shadow: 0 10px 15px #d3d3d3;
    background: #fff;
  }

  .label-sign{
    margin-bottom: 10px;
  }

  @media (max-width:768px){
    .sign-left-container{
        width: 100%;
    }
  }